$heading-color: #000000;

$text-color: #555;
$text-link-color: blue;

$bg-default: #232323;

$bg-gray: #f1f1f1;

$color-title-h1: #fff;
$color-title-h2: #999;

$color-nav-bar-text: #aaa;
$color-white: #ffffff;

$color-dark: #000000;

$hover-color: #8d8d8d;

$blue-color: #666;

$footer-color: #161616;

$blockqute-color: #5551d7;
$header-line-color: #ddd;

$page-color: #999;
