$topbar-color: #010205cb;

$bg-default: #232323;
$bg-gray: #f1f1f1;

$blockqute-color: #5551d7;
$highlighter-color: #239;

$color-nav-bar-text: #aaa;

$color-title-h1: #fff;
$color-title-h2: #999;

$color-white: #ffffff;

$footer-color: $topbar-color;
$footer-text-color: #ddd;

$header-line-color: #ddd;
$heading-color: #000000;
$hover-color: #0057a7;
$page-color: #999;
$text-color: #555;
$text-link-color: blue;
