<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ $.Site.Params.description}} '{{ .Title }}'{{ end }}" />
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta property="og:title" content="{{ .Title }}" />
  {{ if .IsPage }}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}"> {{ else }}
  <meta property="og:type" content="website" />
  {{ end }}
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ if .Params.cover }}
  <meta property="og:image" content="{{ .Params.cover | absURL }}" />
  {{ else }} <meta property="og:image" content="{{ "images/thumbnail.png" | absURL }}"> {{ end }} {{ range .Params.tags }}
  <meta property="og:tags" content="{{ . }}" />
  {{ end }}

  <!-- Favicon  -->
  <link rel="icon" href="{{"/favicon.ico" | relURL}}" type="image/x-icon" />

  <!-- Style CSS -->
  <link rel="stylesheet" href="{{"/vendor/bootstrap/bootstrap.min.css" | relURL}}" /> <link rel="stylesheet" href="{{"/vendor/magnific-popup/magnific-popup.css" | relURL}}" /> <link rel="stylesheet" href="{{"/vendor/wow/animate.css" | relURL}}" /> <link rel="stylesheet" href="{{"/css/style.css" | relURL}}" />
</head>
